<div class="row-fluid" data-bind="foreach: {data: settingsViewModel.settings.plugins.bambu_printer.ams_data, as: 'ams'}">
    <!-- ko if: $data -->
    <div class="well" data-bind="foreach: tray">
        <div class="span3 text-center" data-bind="attr: {title: name}">
            <div class="row-fluid" data-bind="css: {'active': ($root.settingsViewModel.settings.plugins.bambu_printer.ams_current_tray() == (($parentContext.$index() * 4) + $index()))}">
                <i class="fa fa-3x fa-dot-circle" data-bind="css: {'fas': !empty(), 'far': empty()}, style: {'color': ('#'+color())}"></i><br>
                <div class="text-center" data-bind="text: type"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
